body {
    background-color: rgb(78, 160, 255);
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%;

    header {
        text-align: left;
        height: 10rem;
        width: 100%;
        background-color: rgb(78, 160, 255);
        background-image: url(../img/pattern.png);

        .logo {
            height: 50%;
            text-align: left;
            margin-top: 4rem;
            margin-left: 2rem;
        }
        

    }

    main {
        background-color: white;
        padding: 1%;
        .photos {
            max-height: 30%;
            max-width: 100%;
            text-align: center;
            #Tim-Lee-1 {
                width: auto;
                height: 16rem;
            }
            #Tim-Lee-2 {
                width: auto;
                height: 16rem;
            }
            
        }

        table{
            border: none;
            text-align: left;
            .coloumn1 {
                width: 25%;
            }
            .t-head {
                background-color: hsl(198.27deg 79.12% 51.18%);
                color: aliceblue;
            }
            .blue-row {
                background-color: hsl(192deg 71.43% 82.16%);
            }
        }

        .interesting {
            color: hsl(0deg 0% 49.8%);
            width: 50%;
            #monitor {
                color: aliceblue;
                background-image: url(../img/monitor.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                width: auto;
                height: 15rem;
                text-align: left;
                font-weight: bolder;
                font-size: larger;
                padding: 3%;
            }
            #graph {
                color: aliceblue;
                background-image: url(../img/graph.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                width: auto;
                height: 15rem;
                text-align: left;
                font-weight: bolder;
                font-size: larger;
                padding: 3%;
            }
        }
    }
}